<a href="https://colab.research.google.com/github/Adnan5603/brainybeam-task/blob/main/task5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a pandas DataFrame from a JSON object with nested structures.

In [1]:
import pandas as pd
import json

In [2]:
data = {
    "employees": [
        {
            "id": 1,
            "name": {"first": "John", "last": "Doe"},
            "department": "HR",
            "skills": ["communication", "recruitment"],
            "address": {"city": "New York", "zip": "10001"}
        },
        {
            "id": 2,
            "name": {"first": "Jane", "last": "Smith"},
            "department": "IT",
            "skills": ["python", "machine learning"],
            "address": {"city": "San Francisco", "zip": "94105"}
        }
    ]
}

In [3]:
json_str = json.dumps(data)

In [4]:
json_obj = json.loads(json_str)

In [5]:
df = pd.json_normalize(
    json_obj["employees"],
    sep="_"
)

print("Flattened DataFrame:\n")
print(df)

Flattened DataFrame:

   id department                        skills name_first name_last  \
0   1         HR  [communication, recruitment]       John       Doe
1   2         IT    [python, machine learning]       Jane     Smith

    address_city address_zip
0       New York       10001
1  San Francisco       94105