<a href="https://colab.research.google.com/github/Adnan5603/brainybeam-task/blob/main/task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Handle hierarchical indexing in a pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/tested.csv")

In [3]:
print(df.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

In [4]:
df_multi = df.set_index(['Pclass', 'Sex'])

In [5]:
print("\nHierarchical indexed DataFrame:")

Hierarchical indexed DataFrame:

In [6]:
print(df_multi.head())

               PassengerId  Survived  \
Pclass Sex
3      male            892         0
       female          893         1
2      male            894         0
3      male            895         0
       female          896         1

                                                       Name   Age  SibSp  \
Pclass Sex
3      male                                Kelly, Mr. James  34.5      0
       female              Wilkes, Mrs. James (Ellen Needs)  47.0      1
2      male                       Myles, Mr. Thomas Francis  62.0      0
3      male                                Wirz, Mr. Albert  27.0      0
       female  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0      1

               Parch   Ticket     Fare Cabin Embarked
Pclass Sex
3      male        0   330911   7.8292   NaN        Q
       female      0   363272   7.0000   NaN        S
2      male        0   240276   9.6875   NaN        Q
3      male        0   315154   8.6625   NaN        S
       female      1  3101298  12.2875   NaN        S

In [7]:
print("\nFilter by MultiIndex (Pclass=1, Sex=male):")
print(df_multi.loc[(1, 'male')].head())

Filter by MultiIndex (Pclass=1, Sex=male):
             PassengerId  Survived                             Name   Age  \
Pclass Sex
1      male          903         0       Jones, Mr. Charles Cresson  46.0
       male          912         0           Rothschild, Mr. Martin  55.0
       male          915         0  Williams, Mr. Richard Norris II  21.0
       male          920         0          Brady, Mr. John Bertram  41.0
       male          926         0         Mock, Mr. Philipp Edmund  30.0

             SibSp  Parch    Ticket     Fare Cabin Embarked
Pclass Sex
1      male      0      0       694  26.0000   NaN        S
       male      1      0  PC 17603  59.4000   NaN        C
       male      0      1  PC 17597  61.3792   NaN        C
       male      0      0    113054  30.5000   A21        S
       male      1      0     13236  57.7500   C78        C

/tmp/ipython-input-1092932169.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  print(df_multi.loc[(1, 'male')].head())

In [8]:
print("\nAll rows with Pclass=3:")
print(df_multi.xs(3, level='Pclass').head())

All rows with Pclass=3:
        PassengerId  Survived                                          Name  \
Sex
male            892         0                              Kelly, Mr. James
female          893         1              Wilkes, Mrs. James (Ellen Needs)
male            895         0                              Wirz, Mr. Albert
female          896         1  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
male            897         0                    Svensson, Mr. Johan Cervin

         Age  SibSp  Parch   Ticket     Fare Cabin Embarked
Sex
male    34.5      0      0   330911   7.8292   NaN        Q
female  47.0      1      0   363272   7.0000   NaN        S
male    27.0      0      0   315154   8.6625   NaN        S
female  22.0      1      1  3101298  12.2875   NaN        S
male    14.0      0      0     7538   9.2250   NaN        S

In [9]:
print("\nAll rows with Sex=female:")
print(df_multi.xs('female', level='Sex').head())

All rows with Sex=female:
        PassengerId  Survived                                           Name  \
Pclass
3               893         1               Wilkes, Mrs. James (Ellen Needs)
3               896         1   Hirvonen, Mrs. Alexander (Helga E Lindqvist)
3               898         1                           Connolly, Miss. Kate
3               900         1      Abrahim, Mrs. Joseph (Sophie Halaut Easu)
1               904         1  Snyder, Mrs. John Pillsbury (Nelle Stevenson)

         Age  SibSp  Parch   Ticket     Fare Cabin Embarked
Pclass
3       47.0      1      0   363272   7.0000   NaN        S
3       22.0      1      1  3101298  12.2875   NaN        S
3       30.0      0      0   330972   7.6292   NaN        Q
3       18.0      0      0     2657   7.2292   NaN        C
1       23.0      1      0    21228  82.2667   B45        S

In [11]:
df_reset = df_multi.reset_index()
print("\nReset index back to columns:")
print(df_reset.head())

Reset index back to columns:
   Pclass     Sex  PassengerId  Survived  \
0       3    male          892         0
1       3  female          893         1
2       2    male          894         0
3       3    male          895         0
4       3  female          896         1

                                           Name   Age  SibSp  Parch   Ticket  \
0                              Kelly, Mr. James  34.5      0      0   330911
1              Wilkes, Mrs. James (Ellen Needs)  47.0      1      0   363272
2                     Myles, Mr. Thomas Francis  62.0      0      0   240276
3                              Wirz, Mr. Albert  27.0      0      0   315154
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0      1      1  3101298

      Fare Cabin Embarked
0   7.8292   NaN        Q
1   7.0000   NaN        S
2   9.6875   NaN        Q
3   8.6625   NaN        S
4  12.2875   NaN        S